.tmp.driveupload
.tmp.drivedownload
__pycache__/
*.pyc
*.pyo
/llava_med_llava1.5/results
/llava_med_llava1.5/results*/
/llava_med_llava1.5/results_cache
/llava_med_llava1.5/results_content_only
/llava_med_llava1.5/results_coco
/medgemma-coco
/final-content
medgemma-coco4
mgma_del2
medgemma_ins2
medgemma_layer_study
llava_med_colab_pipeline
llava_med.results
mgma_ins2
/llava_med_llava1.5/results_ner/
final/
.venv
temp